h1 {
    color: rgb(135, 135, 135);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 46px;
    line-height: 26px;
    padding: 1px 100px;
    text-align: left;
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    color: rgb(135, 135, 135);
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    font-size: 16px;
}
li::first-letter {
    text-transform: capitalize;
}
.weather-app {
    max-width: 600px;
    border: lightblue 1px solid;
    border-radius: 10px;
    margin: 20px auto;
    padding: 15px;
}
.weather-app-wrap {
   max-width: 600px;
}
li#date {
    font-size: 24px;
}
li#day {
    font-size: 18px;
}
li#time {
    font-size: 18px;
}
li#weatherCondition {
    font-size: 22px;
}
#temperature {
    font-size: 46px;
}
span#units {
    font-size: 14px;
    position: relative;
    top: -16px;
}
span#unitsSmall {
    font-size: 12px;
    position: relative;
    top: -3px;
}
form{
    margin-top: 15px;    
}
a {
    text-decoration: none;
 
}
a.active{
    color: rgb(135, 135, 135);
    cursor: default;
}
a.active:hover {
    text-decoration: none;
}
.forecast {
    text-align: center;
    color: rgb(135, 135, 135);
    margin-top: 20px;
}
.forecast-day{
font-size: 16px;
opacity: 0.5;
}
.forecast-temperature {
    font-size: 13px;
}
.forecast-temperature-min {
    opacity: 0.5;
}